{% extends "base.html" %}
{% load static %}
{% block title %}Signup{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "css/signup.css" %}">
{% endblock css %}
{% block content %}
<div class="container">
<div class="logo">
    <img src="{% static "img/logo.jpg" %}" alt="">
</div>
<h1>Let the introduce yourself</h1>
<form method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="m">
    <div class="field">
        {{ field }}
        {{ field.label_tag }}
    </div>
    {% if field.errors %}
    {% for error in field.errors %}
    <p class="error">
        {{ error }}
    </p>
    {% endfor %}
    {% endif %}
</div>
    {% endfor %}
    <div class="m">
    <div class="field">
        <button>Signup <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg></button>
    </div>
</div>
</form>
</div>
<script>
    const inputs = document.querySelectorAll(".field input")
    inputs.forEach((el)=>{
        el.addEventListener("input",(e)=>{
            if(e.target.value.length>0){
                e.target.nextElementSibling.classList.add("active-input")
            }else{
                e.target.nextElementSibling.classList.remove("active-input")
            }
        })
    })
</script>
{% endblock content %}